.time {
  font-family: Roboto-Bold;
  font-size: 84px;
  color: #37474f;
  text-align: center;
  margin: 0;
}
.container{
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
